.details-grid{
    grid-column: 1 / -1;
    grid-row: 1;
    display: grid;
    background-color: rgba(0, 0, 0, 0.9);
    grid-template-columns: repeat(12, 1fr);
    padding: 2rem;
}

    .details-container{
        grid-column: 2 / 12;
        display: grid;
        padding: 1rem;
        gap: 1rem;
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(50, 50, 50, 0.5);
    }

        .detail-container{
            display: flex;
            border-bottom: 2px solid rgba(50, 50, 50, 0.5);
            padding: 1rem;            
        }

            .detail-img{
                filter: opacity(70%);
                max-width: 45%;
                max-height: 100%;
                border: 3px solid var(--border-yellow);
                border-radius: 1rem;
            }

            .info-aside{
                /* background-color: blueviolet; */
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-height: 100%;
                max-width: 100%;
            }

                .title-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 25%;
                    border-bottom: 2px solid rgba(50, 50, 50, 0.5);

                }
                    .detail-title{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 90%;
                        height: 100%;
                        font-size: 2rem;
                        color: var(--clr-light);
                        font-weight: 900;
                        letter-spacing: 0.2rem;
                    }

                    .detail-healthScore{
                        width: 5%;
                        height: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba(0, 0, 0, 0.5);
                        font-size: 2rem;
                        color: var(--clr-light);
                        font-weight: 900;
                        letter-spacing: 0.2rem;
                        border: 3px solid var(--border-yellow);
                        border-radius: 25% 0;
                    }

                    .diets-container{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 25%;                    
                        border-bottom: 2px solid rgba(50, 50, 50, 0.5);

                    }

                    .diets-h3{
                        width: 20%;
                        height: 100%;
                    }

                    .border{
                        height: 30%;
                        width: 2px;
                        background-color: var(--border-yellow);
                    }

                    .showDiet{
                        width: 80%;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    .summary-container{
                        text-align: justify;
                        max-width: 100%;
                        max-height: 50%;
                        margin: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;                  
                    }

                    .detail-summary-h3{
                        font-size: 2rem;
                        color: var(--clr-light);
                        font-weight: 900;
                        letter-spacing: 0.2rem;
                        max-width: 20%;
                        max-height: 100%;
                        padding: 0 1rem;
                    }

                    .detail-summary-p{
                        font-size: 1rem;
                        font-weight: 900;
                        letter-spacing: 0.1rem;
                        color: var(--clr-light);
                        max-width: 80%;
                        max-height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: center;
                        line-height: 1.5rem;
                        padding: 1rem;
                    }

                    .steps-container{
                        width: 100%;
                        height: 100%;
                    }

                    .steps-h3{
                        font-size: 2rem;
                        color: var(--clr-light);
                        font-weight: 900;
                        letter-spacing: 0.2rem;
                        max-width: 100%;
                        max-height: 100%;
                        padding: 0 1rem;
                    }

                    .steps{
                        font-size: 1rem;
                        font-weight: 900;
                        letter-spacing: 0.1rem;
                        color: var(--clr-light);
                        min-height: 50%;
                        max-width: 100%;
                        max-height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        text-align: justify;
                        align-items: center;
                        line-height: 1.5rem;
                        padding: 1rem;
                    }

                    .step{
                        display: flex;
                        margin: 1rem;
                    }

                    .goBack{
                        width: 100%;
                        height: 25%;
                        max-height: 25%;
                    }
                    
                    

